<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"	>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
  <title>Książkoteka - book swap with friends</title>
      <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<img alt="" src="images/login.jpg">
			</div>

			<div class="login-form">
				<div class="control-group">
				<br/>
				<form method="POST" th:action="@{/login}">
				<input type="text" class="login-field" value="" placeholder="login" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
			
				</div>

				<div class="control-group">
				
				<input type="password" class="login-field" value="" placeholder="hasło" name="password">
			
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				
				</div>

				
			<input class="btn btn-primary btn-large btn-block" type="submit" value="Zaloguj">
			</form>
				
			</div>
		</div>
	</div>
</body>
  
  
</body>
</html>
