<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Ksiazkoteka - book swap with friends</title>
	<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>

<div class="login">
	<div class="login-screen" th:if="${param.error}">
		<br>
		<p align="center"><b>Invalid username and password.</b></p>
	</div>
	<div class="login-screen" th:if="${param.logout}">
		<br>
		<p align="center"><b>You have been logged out.</b></p>
	</div>
	<th:block th:if="${msg}">
		<div class="login-screen">
			<b><p align="center" th:text="${msg}"></p></b>
		</div>
	</th:block>
</div>

<div class="login">
	<div class="login-screen">
		<div class="app-title">
			<img alt="" th:src="@{/images/llogo.jpg}">
		</div>

		<form method="POST" th:action="@{/login}">
		<div class="login-form">
			<div class="control-group">
				<br/>
					<input ID="main" type="text" class="login-field super-style" value="" placeholder="login / email" name="username">
			</div>
			<div class="control-group">
				<input ID="main" type="password" class="login-field super-style" value="" placeholder="password" name="password">
			</div>


			<input ID="main" class="btn btn-primary btn-large btn-block" type="submit" value="Log In">
		</div>
			</form>
		<br>
		<p align="center">Or <a th:href="@{/register}">register</a> as new user.</p>
		</div>
	</div>
</div>
</body>
</html>