<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"	>
<div class="container" sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <th:block th:each="book : ${books}">
            <table class="table table-hover">
                <tbody>
                <form th:action="@{/admin/books/cover/{bookId} (bookId=${book.id})}" method="post">
                <tr>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td>
                        <input type="text" class="form-control" name="cover" th:value="${book.cover}">
                    </td>
                    <td>
                        <button type="submit" class="btn">Update</button>
                    </td>
                    <!--<td>-->
                        <!--&lt;!&ndash;<a class="dropdown-item" th:href="@{/books/borrow/{bookId}(bookId=${book.id})}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="button" class="btn btn-default">Borrow</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--<form th:action="@{/admin/books/cover/add/{bookId} (bookId=${book.id})}" method="post" enctype="multipart/form-data">-->
                            <!--Select image to upload:-->
                            <!--<input type="file" name="file" id="fileToUpload">-->
                            <!--<input type="submit" value="Upload Image" name="submit">-->
                        <!--</form>-->
                    <!--</td>-->



                </tr>
                </form>
                </tbody>
            </table>
    </th:block>
</div>