<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org"
>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <form class="form-horizontal" th:action="@{/book/addbook/new}" method="post">
                <!-- Form Name -->
                <legend>Add Book</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="textinput">Title</label>
                    <input id="textinput" name="title" placeholder="" class="form-control input-md" required="" type="text">
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="author">Author</label>
                    <input id="author" name="author" placeholder="" class="form-control input-md" required="" type="text">
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="control-label"></label>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>