<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-2 mt-4">
            <table>
                <tbody>
                <tr>
                    <td><img alt="" th:src="${user.getAvatar()}"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td th:text="${user.getName() + ' ' + user.getSurname()}">...</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 col-lg-6">
            <form class="form-horizontal" id="passwordForm"
                  th:action="@{/admin/users/pass/change/{userId}(userId=${user.id})}" method="post">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">New password</label>
                            <input name="password" id="password" placeholder="" class="form-control input-md" required
                                   type="password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Retype new password</label>
                            <input name="password2" id="password2" placeholder="" class="form-control input-md" required
                                   type="password">
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label"></label>
                            <button id="passButton" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>