<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"	>
<div class="container">
    <div class="row">
        <th:block th:each="user : ${users}">
            <div class="col">
                <table>
                    <tbody>
                    <tr>
                        <td align="center"><img alt="" th:src="${user.getAvatar()}"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" th:text="${user.getName() + ' ' + user.getSurname()}">...</td>
                    </tr>
                    <tr>
                        <td align="center" th:text="${user.getLogin()}">...</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a class="dropdown-item" th:href="@{/books/user/{login}(login=${user.login})}">
                                <button th:text="check + ' ' + ${user.name} + ' ' + books" type="button" class="btn btn-success btn-transparent"></button>
                    </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
</div>